.main-about {
  height: 66em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-about {
  max-width: 40em;
  padding: 2em;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  margin: 0.5em;
}

.box-p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  margin-left: 2em;
}

.box-img{
   max-width: 40em;
   display: flex;
   flex-wrap: nowrap;
}

.familiar{
  color:rgb(238, 105, 132);
  margin-top: 1em;
}

.box-p>p {
  margin-top: 1em;
}

.box-img>img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 0.2em solid rgb(238, 105, 132);
}

.box-svg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

.footer-fix-about>a{
  margin-bottom: 1em; 
}

@media only screen and (max-width: 800px) {
  .main-about {
  height: 80em;
}
  .box-about {
    padding: 0.5em;
  }
  .box-img{
   flex-wrap: wrap;
   justify-content: center;
}
  .box-p{
  margin: 0.5em;
  }
}
